// Author: Awey
// email: chenwei@rongcapital.cn
// github: https://github.com/BboyAwey
// blog: http://www.jianshu.com/u/3c8fe1455914

// Modifier:

// headline style
h1 {
  margin: 20px 0;
  font-size: $giant;
  color: $grayDarken45;
}
h2 {
  margin: 12px 0;
  font-size: $huge;
  color: $grayDarken45;
}
h3 {
  margin: 12px 0;
  font-size: $large;
  color: $grayDarken45;
}
h4 {
  margin: 12px 0;
  font-size: $medium;
  color: $grayDarken45;
}
h5 {
  margin: 12px 0;
  font-size: $normal;
  color: $grayDarken45;
}
h6 {
  margin: 12px 0;
  font-size: $small;
  color: $grayDarken45;
}
