<div class="chorus-entity-model">
    <nav-bar :nav-list="navlist" style="margin-bottom: 10px;"></nav-bar>
    <div class="chorus-toolbar">
        <div class="toolbar-l" style=" clear: both;">
            <div class="chorus-form-field" style="height:28px;display: inline-block; clear: both;">
                <ad-select  style="margin:3px 0;width: 110px;line-height:28px;float: left;"
                        class="create-form-el"
                        :small="true"
                        :options="entityTypeAllOptions"
                        v-model="entityType"></ad-select>
                <ad-input-edit style="margin:3px 10px;width: 180px;line-height:28px;float: left;"
                          v-model="entityName"
                          placeholder="按实体名称搜索"
                          :small="true"
                          maxlength="20"
                          icon="ion-ios-search"></ad-input-edit>
                <input  class="chorus-button admin-small" style="float: left;" type="button" value="搜索"  @click="fetchData(1)">
            </div>
        </div>
        <div class="toolbar-r">
            <button class="create-data-table-button admin-small" :disabled="showCreateFormBtnDisabled" @click="showCreateForm">新建实体模型</button>
        </div>

    </div>
    <div class="chorus-grid-wrapper chorus-grid">
        <table class="admin-table admin-striped data-table-list">
            <thead>
            <tr>
                <th>编码</th>
                <th>名称</th>
                <th>类型</th>
                <th>描述</th>
                <th>所有者</th>
                <th>更新时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr v-if="datalist&&datalist.length==0">
                <td  :colspan="7" style="height: 30px;line-height: 30px;text-align: center">暂无数据</td>
            </tr>
            <tr v-for="entry in datalist" v-else >
                <td>{{entry.entityCode}}</td>
                <td>{{entry.entityName}}</td>
                <td>{{showEntityTypeTxt(entry.entityType)}}</td>
                <td>{{entry.entityDesc}}</td>
                <td>{{entry.userName}}</td>
                <td>{{showDateTime(entry.createTime)}}</td>
                <td><button class="admin-small" @click="showModifyForm(entry)">编辑</button></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div  style="text-align: right;">
        <paginator :total-count="totalCount" :page-size="pageSize" :current-page="currentPage"  @toggle-page="togglePage"></paginator>
    </div>
    <!--新建实体模型弹层-->
    <create-modal :open="createFormShow" @close="createCloseEvent" :entity-type-options="entityTypeOptions" :property-datatype-options="propertyDatatypeOptions"></create-modal>
    <!--修改实体模型弹层-->
    <modify-modal :open="modifyFormShow" @close="modifyCloseEvent" :entity-type-options="entityTypeOptions" :property-datatype-options="propertyDatatypeOptions" :entity-id="currentEntityId"></modify-modal>
</div>