@charset "utf-8";
@import "../admin-ui/style/style.scss";
@import "../admin-ui/style/vars.scss";
::-webkit-scrollbar
{
  width: 6px;
  height: 6px;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
}
::-webkit-scrollbar-thumb:vertical
{
  border-radius: 4px;
  background-color: rgba(0,0,0,0.1);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:horizontal
{
  border-radius: 4px;
  background-color: rgba(0,0,0,0.1);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
@mixin select-none(){
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
html, body{
  font-family: $fontFamily;
  height: 100%;
  display: block;
  padding:0;
  margin:0;
}
div.chorus-container
{
  display: flex;
  flex-flow: row;
  height: 100%;
}
div.chorus-wrapper
{
  display: flex;
  flex-flow: column;
  height: 100%;
  overflow-y:hidden;
}

.chorus-box{
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
  display: block;
}
.chorus-header{
  height:48px;
  background:rgba(65,141,175,0.8);
  font-size: 20px;
  line-height: 48px;
}
.chorus-header .logo{
  float: left;
  color: #f4f4f4;
  font-size: $huge;
  padding: 0 30px;
}
.chorus-header .admin{
  float: right;
  padding: 0 30px;
  font-size: 16px;
}
.chorus-main {
  .page{
    @include select-none();
  }
}
.chorus-page-nav{
  background:#e6e6e6;
  height:32px;
  line-height: 32px;
  padding: 8px 20px;
  margin: 0 0 5px 0;
}
.chorus-grid-wrapper{
   padding: 0 20px;
}
.chorus-grid{
  table{
    width: 100%;
    th:last-child{
      text-align: center !important;
    }
  }
    td{
      overflow: hidden;
      width: auto !important;
      max-width: 100px;
      vertical-align: middle;
      word-wrap: break-word;
    }
}
.chorus-page-nav{
  background:#e6e6e6;
  height:44px;
  line-height: 44px;
  padding: 0px 20px;
  margin: 0 0 5px 0;
}
.chorus-toolbar{
  background:#fff;
  height:44px;
  line-height: 44px;
  padding: 0px 20px;
  margin: 0 0 5px 0;
  .toolbar-l{
    float: left;
  }
  .toolbar-r{
    float: right;
  }
  .button{
    width: auto;
  }
}
.chorus-pointer{
  cursor: pointer;
}
.chorus-button{
  width: auto !important;
  margin: 3px 5px;
}
.chorus-paginator{
  padding: 8px 16px;
  margin: 0 0 5px 0;
  float: right;
  @include select-none();
}
.chorus-nav {
  width: 200px;
  background:#e5e5e5;
  -webkit-box-shadow: 2px 0 6px #ccc;
  -moz-box-shadow: 2px 0 6px #ccc;
  box-shadow: 2px 0 6px #ccc;
  margin-right: 4px;
  nav{
    background:#e5e5e5;
    width:100%;
    ul{
      width:100%;
    }
    li{
      height:32px;
      line-height: 32px;
      color: #999;
      cursor: pointer;
    }
  }
}
.chorus-form-field{
  .ad-input-core{width: auto  !important;}
}
.chorus-split-line {
  border-bottom: 2px solid #cecbce;
  margin: 14px 20px;
}
//组件图标大小不一，修正宽度
.admin-menu .menu-icon{
  width: 16px;
  &:before{
    width: 16px;
  }
}
.admin-page-content{
  float: none !important;
  width: auto !important;
}

//主显示区域样式修改

.admin-page-content-main{ height: 100% !important; padding: 16px 16px 16px 16px !important; overflow-y: auto;

    .admin-pannel{height: 100% !important;overflow-y: auto;}
}
.admin-page-content-main>div{height: 100% }
.chorus-btn-disabled{
  cursor: not-allowed !important;
  background-color: rgba(14,158,226,.3) !important;
}
.chorus-display-none{
  display: none !important;
}
.chorus-cursor-pointer{
  cursor: pointer;
}
.chorus-text-ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
//引入主题
@import "./gray-theme.scss";