// Author: Awey
// email: chenwei@rongcapital.cn
// github: https://github.com/BboyAwey
// blog: http://www.jianshu.com/u/3c8fe1455914

// Modifier:

// some style needed to be inherit
html {
  font-family: $fontFamily;
  color: $grayDarken45;
}
